# #ignore all .key
# *.key

# #ignore terrafom state files
# *.tfstate

# #ignore all pubkeys
# *.pub

# #ignore all private keys
# *.pem

#ignore .terraform folder
**/.terraform/*
.terraform
.terrafom.lock.hcl